[Unit]
Description=Monitor resol vbus temperatures
BindsTo=dev-tty_resol.device
After=dev-tty_resol.device

[Service]
Nice=1
ExecStart=/srv/vbus/collector/vbus-collector --no-print --delay 60 --mqtt
User=root
Group=root
